stages:
  - lint
  - test
  - coverage

flake8:
  stage: lint
  image: registry.gitlab.com/pipeline-components/flake8:latest
  script:
    - flake8 --verbose .

.test-variables: &test-variables-definition
  POSTGRES_USER: odoo
  POSTGRES_PASSWORD: odoo
  POSTGRES_DB: postgres

test-19:
  image: odoo:19.0
  services:
    - name: postgres:15
      alias: db
  variables:
    <<: *test-variables-definition
    TEST_PY_VERSION: "3"
  before_script:
    - python3 -m pip install coverage
    - python3 -m pip install -r requirements.txt
    # Save configuration to file
    - /entrypoint.sh odoo -s --stop-after-init
  script:
    - bash .ci/test-cli.bash
  after_script:
    - python3 -m coverage report
    - mv .coverage coverage.${CI_JOB_NAME}
  coverage: '/^TOTAL\s+\d+\s+\d+\s+(\d+\%)/'
  artifacts:
    name: "$CI_JOB_NAME"
    expire_in: 10 day
    paths:
      - coverage.${CI_JOB_NAME}

test-18:
  image: odoo:18.0
  services:
    - name: postgres:15
      alias: db
  variables:
    <<: *test-variables-definition
    TEST_PY_VERSION: "3"
  before_script:
    - python3 -m pip install coverage
    - python3 -m pip install -r requirements.txt
    # Save configuration to file
    - /entrypoint.sh odoo -s --stop-after-init
  script:
    - bash .ci/test-cli.bash
  after_script:
    - python3 -m coverage report
    - mv .coverage coverage.${CI_JOB_NAME}
  coverage: '/^TOTAL\s+\d+\s+\d+\s+(\d+\%)/'
  artifacts:
    name: "$CI_JOB_NAME"
    expire_in: 10 day
    paths:
      - coverage.${CI_JOB_NAME}

test-17:
  image: odoo:17.0
  services:
    - name: postgres:15
      alias: db
  variables:
    <<: *test-variables-definition
    TEST_PY_VERSION: "3"
  before_script:
    - python3 -m pip install coverage
    - python3 -m pip install -r requirements.txt
    # Save configuration to file
    - /entrypoint.sh odoo -s --stop-after-init
  script:
    - bash .ci/test-cli.bash
  after_script:
    - python3 -m coverage report
    - mv .coverage coverage.${CI_JOB_NAME}
  coverage: '/^TOTAL\s+\d+\s+\d+\s+(\d+\%)/'
  artifacts:
    name: "$CI_JOB_NAME"
    expire_in: 10 day
    paths:
      - coverage.${CI_JOB_NAME}

test-16:
  image: odoo:16.0
  services:
    - name: postgres:15
      alias: db
  variables:
    <<: *test-variables-definition
    TEST_PY_VERSION: "3"
  before_script:
    - python3 -m pip install coverage
    - python3 -m pip install -r requirements.txt
    # Save configuration to file
    - /entrypoint.sh odoo -s --stop-after-init
  script:
    - bash .ci/test-cli.bash
  after_script:
    - python3 -m coverage report
    - mv .coverage coverage.${CI_JOB_NAME}
  coverage: '/^TOTAL\s+\d+\s+\d+\s+(\d+\%)/'
  artifacts:
    name: "$CI_JOB_NAME"
    expire_in: 10 day
    paths:
      - coverage.${CI_JOB_NAME}

test-15:
  image: odoo:15.0
  services:
    - name: postgres:15
      alias: db
  variables:
    <<: *test-variables-definition
    TEST_PY_VERSION: "3"
  before_script:
    - python3 -m pip install coverage
    - python3 -m pip install -r requirements.txt
    # Save configuration to file
    - /entrypoint.sh odoo -s --stop-after-init
  script:
    - bash .ci/test-cli.bash
  after_script:
    - python3 -m coverage report
    - mv .coverage coverage.${CI_JOB_NAME}
  coverage: '/^TOTAL\s+\d+\s+\d+\s+(\d+\%)/'
  artifacts:
    name: "$CI_JOB_NAME"
    expire_in: 10 day
    paths:
      - coverage.${CI_JOB_NAME}

test-14:
  image: odoo:14.0
  services:
    - name: postgres:14
      alias: db
  variables:
    <<: *test-variables-definition
    TEST_PY_VERSION: "3"
  before_script:
    - python3 -m pip install coverage
    - python3 -m pip install -r requirements.txt
    # Save configuration to file
    - /entrypoint.sh odoo -s --stop-after-init
  script:
    - bash .ci/test-cli.bash
  after_script:
    - python3 -m coverage report
    - mv .coverage coverage.${CI_JOB_NAME}
  coverage: '/^TOTAL\s+\d+\s+\d+\s+(\d+\%)/'
  artifacts:
    name: "$CI_JOB_NAME"
    expire_in: 10 day
    paths:
      - coverage.${CI_JOB_NAME}

test-13:
  image: odoo:13.0
  services:
    - name: postgres:14
      alias: db
  variables:
    <<: *test-variables-definition
    TEST_PY_VERSION: "3"
  before_script:
    - python3 -m pip install coverage
    - python3 -m pip install -r requirements.txt
    # Save configuration to file
    - /entrypoint.sh odoo -s --stop-after-init
  script:
    - bash .ci/test-cli.bash
  after_script:
    - python3 -m coverage report
    - mv .coverage coverage.${CI_JOB_NAME}
  coverage: '/^TOTAL\s+\d+\s+\d+\s+(\d+\%)/'
  artifacts:
    name: "$CI_JOB_NAME"
    expire_in: 10 day
    paths:
      - coverage.${CI_JOB_NAME}

test-12:
  image: odoo:12.0
  services:
    - name: postgres:11
      alias: db
  variables:
    <<: *test-variables-definition
    TEST_PY_VERSION: "3"
  before_script:
    - python3 -m pip install coverage
    - python3 -m pip install -r requirements.txt
    # Save configuration to file
    - /entrypoint.sh odoo -s --stop-after-init
  script:
    - bash .ci/test-cli.bash
  after_script:
    - python3 -m coverage report
    - mv .coverage coverage.${CI_JOB_NAME}
  coverage: '/^TOTAL\s+\d+\s+\d+\s+(\d+\%)/'
  artifacts:
    name: "$CI_JOB_NAME"
    expire_in: 10 day
    paths:
      - coverage.${CI_JOB_NAME}

test-11:
  image: odoo:11.0
  services:
    - name: postgres:10
      alias: db
  variables:
    <<: *test-variables-definition
    TEST_PY_VERSION: "3"
  before_script:
    - python3 -m pip install coverage
    - python3 -m pip install -r requirements.txt
    # Save configuration to file
    - /entrypoint.sh odoo -s --stop-after-init
  script:
    - bash .ci/test-cli.bash
  after_script:
    - python3 -m coverage report
    - mv .coverage coverage.${CI_JOB_NAME}
  coverage: '/^TOTAL\s+\d+\s+\d+\s+(\d+\%)/'
  artifacts:
    name: "$CI_JOB_NAME"
    expire_in: 10 day
    paths:
      - coverage.${CI_JOB_NAME}

test-10:
  image: odoo:10.0
  services:
    - name: postgres:9.6
      alias: db
  variables:
    <<: *test-variables-definition
    TEST_PY_VERSION: "2"
  before_script:
    - python2 -m pip install --user coverage==5
    - python2 -m pip install --user click==7.1.2
    # Save configuration to file
    - /entrypoint.sh odoo -s --stop-after-init
  script:
    - bash .ci/test-cli.bash
  after_script:
    - python2 -m coverage report
    - mv .coverage coverage.${CI_JOB_NAME}
  coverage: '/^TOTAL\s+\d+\s+\d+\s+(\d+\%)/'
  artifacts:
    name: "$CI_JOB_NAME"
    expire_in: 10 day
    paths:
      - coverage.${CI_JOB_NAME}

test-9:
  image: odoo:9.0
  services:
    - name: postgres:9.4
      alias: db
  variables:
    <<: *test-variables-definition
    TEST_PY_VERSION: "2"
  before_script:
    - apt-get update && apt-get install python-dev
    - python2 -m pip install --user coverage==5
    - python2 -m pip install --user click==7.1.2
    # Save configuration to file
    - /entrypoint.sh openerp-server -s --stop-after-init
  script:
    - bash .ci/test-cli.bash
  after_script:
    - python2 -m coverage report
    - mv .coverage coverage.${CI_JOB_NAME}
  coverage: '/^TOTAL\s+\d+\s+\d+\s+(\d+\%)/'
  artifacts:
    name: "$CI_JOB_NAME"
    expire_in: 10 day
    paths:
      - coverage.${CI_JOB_NAME}

test-8:
  image: odoo:8.0
  services:
    - name: postgres:9.4
      alias: db
  variables:
    <<: *test-variables-definition
    TEST_PY_VERSION: "2"
  before_script:
    - apt-get update && apt-get install python-dev
    - python2 -m pip install --user coverage==5
    - python2 -m pip install --user click==7.1.2
    # Save configuration to file
    - /entrypoint.sh openerp-server -s --stop-after-init
  script:
    - bash .ci/test-cli.bash
  after_script:
    - python2 -m coverage report
    - mv .coverage coverage.${CI_JOB_NAME}
  coverage: '/^TOTAL\s+\d+\s+\d+\s+(\d+\%)/'
  artifacts:
    name: "$CI_JOB_NAME"
    expire_in: 10 day
    paths:
      - coverage.${CI_JOB_NAME}

test-7:
  image: ubuntu:22.04
  services:
    - name: postgres:14
      alias: db
  variables:
    <<: *test-variables-definition
    TEST_DB_HOST: "db"
    TEST_PY_VERSION: "2"
    TEST_V7_ROOT: "$CI_PROJECT_DIR"
  before_script:
    - bash .ci/v7/init.bash
  script:
    - sudo -u odoo -HE bash .ci/test-cli.bash
  after_script:
    - sudo -u odoo -HE $CI_PROJECT_DIR/odoo/venv/bin/python2 -m coverage report
    - mv .coverage coverage.${CI_JOB_NAME}
  coverage: '/^TOTAL\s+\d+\s+\d+\s+(\d+\%)/'
  artifacts:
    name: "$CI_JOB_NAME"
    expire_in: 10 day
    paths:
      - coverage.${CI_JOB_NAME}


coverage:
  image: odoo:16.0
  stage: coverage
  dependencies:
    - test-16
    - test-15
    - test-13
    - test-12
    - test-11
    - test-10
    - test-9
    - test-8
    - test-7
  before_script:
    - python3 -m pip install coverage
  script:
    - python3 -m coverage combine coverage.*
    - python3 -m coverage report
  after_script:
    - python3 -m coverage html
  coverage: '/^TOTAL\s+\d+\s+\d+\s+(\d+\%)/'
  artifacts:
    name: "$CI_JOB_NAME"
    expire_in: 14 day
    paths:
      - htmlcov
      - .coverage
      - coverage.*
